@import '../NormalizeCSS/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --color_no_msj: #6b7280;
    --color_date_badge: rgba(0,0,0,0.25);
    --color_date_badge1: #fff;
}

/* ------------------------------------------ Estructura principal ------------------------------------------ */
.chat-container {
    flex: 1;                      
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 100%;
    padding: 12px 42px;
    background-image: url('../../../readme-images/chat-bg.jpeg');
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
}

.empty-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 42px;
    background-image: url('../../../readme-images/chat-bg.jpeg');
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
    min-height: 0;
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-badge {
    align-self: center;
    background: var(--color_date_badge);
    color: var(--color_date_badge1);
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 7px;
    margin: 8px 0;
    backdrop-filter: blur(2px);
}

/* ------------------------------------------ Responsive ------------------------------------------ */
@media (max-width: 768px) {
    .chat-container, .empty-chat {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .chat-container, .empty-chat {
        padding: 8px 12px;
        font-size: 14px;
    }
}