.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 350px;
    background: #111b21;
    border-radius: 8px;
    padding: 20px;
    color: #e9edef;
}

.modal-title {
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    background: #202c33;
    border: none;
    outline: none;
    color: #e9edef;
    border-radius: 6px;
    margin-bottom: 12px;
}

.modal-buttons {
    display: flex;
    gap: 10px;
}

.btn-modal {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.btn-modal-primary {
    background: #00a884;
    color: #fff;
}

.btn-modal-secondary {
    background: #202c33;
    color: #e9edef;
}
