.newchat-contacts {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.newchat-contacts_span {
    color: #00000099;
    font-size: 16px;
    padding: 30px 0 15px 26px;
    font-weight: 700;
}